[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sqlalchemy = "*"
mako = "*"
alembic = "*"
prettytable = "*"

[dev-packages]
safety = "*"
pytest = "*"

[requires]
python_version = "3.10"
